.note_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vh;
  justify-content: space-between;
  padding: 20px;
}

.note_li {
  min-width: 220px;
  max-height: 250px;
  height: 50%;
  width: 30%;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
